:root {
    // Background color
    --primary-bg-color: #ffffff;
    --c01-bg-color: #ffffff;
    --c02-bg-color: #ffffff;

    // Text color
    --primary-text-color: #707070;
    --c01-text-color: #222222;
    --c02-text-color: #15202b;

    // Border color
    --primary-border-color: #726b6b;
    --c01-border-color: #e7e7e7;
    --c02-border-color: #c2bfbf;
}
